.button {
    display: inline-block;
    border: 2px solid;
    border-radius: 5px;
    padding: 5px;
    transition: var(--transition);

    &:hover {
        cursor: pointer;
    }

    &.light {
        border-color: var(--strong-light);

        &:hover {
            border-color: var(--weak-dark);
        }
    }

    &.dark {
        border-color: var(--strong-dark);

        &:hover {
            border-color: var(--weak-light);
        }
    }
}