.stream-title-modal {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    gap: 10px;
    align-items: center;
    justify-items: center;
}

.stream-title-modal-controls {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 10px;
    align-items: center;
    justify-items: center;
}