<div class="streams-layout">
    <div [ngClass]="['streams-search', appearance$ | async]">
        <app-input [width$]="inputWidth$" [placeholder]="'Search'" [value$]="searchPhrase$"></app-input>
    </div>
    <div class="streams">
        <div class="streams-add-card">
            <div [ngClass]="['streams-add-card-button', appearance$ | async]" (click)="startStream()">
                <div [ngClass]="['streams-add-card-button-icon', appearance$ | async]"></div>
            </div>
        </div>
        <ng-container #streamCardsContainer></ng-container>
        <ng-template #streamCardTemplate let-socketId="socketId" let-title="title" let-creationTime="creationTime">
            <app-stream-card [streamData]="{ socketId: socketId, title: title, creationTime: creationTime }"></app-stream-card>
        </ng-template>
    </div>
    <div [ngClass]="['streams-loader', appearance$ | async]" #loader>
        <app-loader *ngIf="isLoading"></app-loader>
    </div>
</div>
