.streams-layout {
    display: grid;
    grid-template-rows: 75px 1fr 75px;
    grid-template-columns: 1fr;
}

.streams-search {
    display: grid;
    align-items: center;
    justify-items: center;
}

.streams {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 15px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
}

.streams-loader {
    display: grid;
    align-items: center;
    justify-items: center;
}