.stream-card {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 150px 20px 20px;
    gap: 5px;
    align-items: center;
    justify-items: center;

    .stream-preview {
        max-width: 200px;
        max-height: 150px;
        border-radius: 10px;
    }

    .stream-preview-button {
        display: grid;
        grid-template-columns: 75px;
        grid-template-rows: 75px;
        align-items: center;
        justify-items: center;
        border: 2px solid;
        border-radius: 50%;
        font-size: var(--smaller-font-size);
        transition: var(--transition);
        cursor: pointer;

        &.light {
            color: var(--strong-light);
            border-color: var(--weak-light);

            &:hover {
                color: var(--weak-dark);
                border-color: var(--weak-dark);
            }
        }

        &.dark {
            color: var(--strong-dark);
            border-color: var(--weak-dark);

            &:hover {
                color: var(--weak-light);
                border-color: var(--weak-light);
            }
        }
    }

    .stream-title {
        font-weight: bold;
        overflow: hidden;
    }

    .stream-id {
        font-size: var(--smaller-font-size);
        overflow: hidden;

        &.light {
            color: var(--weak-light);
        }

        &.dark {
            color: var(--weak-dark);
        }
    }
}
