<div class='stream-card'>
	<div *ngIf="previewed; then previewTemplate else previewButtonTemplate"></div>
    <ng-template #previewTemplate>
        <a [routerLink]="['/streams', streamData.socketId]">
            <video
                #previewElement
                class="stream-preview"
                (mouseleave)="previewed = false"
                [appAfterViewInit]="preview(previewElement)"
                [appOnDestroy]="closePreview()"
                [muted]="'muted'"
                autoplay>
            </video>
        </a>
    </ng-template>
    <ng-template #previewButtonTemplate>
        <div [ngClass]="['stream-preview-button', appearance]" (click)="previewed = true">
            Preview
        </div>
    </ng-template>
    <div class="stream-title">{{streamData.title}}</div>
    <div [ngClass]="['stream-id', appearance]">{{streamData.socketId}}</div>
</div>
