:root {
    --weak-dark: rgb(64, 64, 64);
    --mid-dark: rgb(48, 48, 48);
    --strong-dark: rgb(32, 32, 32);
    --weak-light: rgb(160, 160, 160);
    --mid-light: rgb(184, 184, 184);
    --strong-light: rgb(208, 208, 208);
    --red: rgb(200, 0, 0);
    --weak-dark-filter: invert(25%);
    --strong-dark-filter: invert(13%);
    --weak-light-filter: invert(60%);
    --strong-light-filter: invert(82%);
    --transition: 0.2s;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.light {
    color: var(--strong-dark);
}

.dark {
    color: var(--strong-light);
}
