:root {
    /* COLORS */
    --weak-dark: rgb(64, 64, 64);
    --mid-dark: rgb(48, 48, 48);
    --strong-dark: rgb(32, 32, 32);
    --weak-light: rgb(160, 160, 160);
    --mid-light: rgb(184, 184, 184);
    --strong-light: rgb(208, 208, 208);
    --red: rgb(200, 0, 0);
    --weak-dark-filter: invert(25%);
    --strong-dark-filter: invert(13%);
    --weak-light-filter: invert(60%);
    --strong-light-filter: invert(82%);
    /* ANIMATION */
    --transition: 0.2s;
    /* FONT SIZE */
    --default-font-size: 16px;
    --bigger-font-size: 20px;
    --biggerer-font-size: 25px;
    --smaller-font-size: 14px;
}

body {
    margin: 0;
    font-family: sans-serif;
    font-size: var(--default-font-size);
}

.light {
    color: var(--strong-dark);
}

.dark {
    color: var(--strong-light);
}
